.square {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  background-color: white;
}

.color {
  margin-right: 5px;
}

#pixel-board {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  grid-template-rows: repeat(5, 40px);
}

.buttons {
  margin-right: 5px;
}